@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background: linear-gradient(135deg, #f3eece 50%, #CCD5AE 100%) !important;

}
.book-section {
    padding: 40px;
    text-align: center;
    
  }

  p {
    font-family: 'Exo 2', sans-serif; 
    font-size: 48px;
  }
  .book-card {
    width: 250px; 
    height: 400px; 
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
  }
  
  .book-image {
    width: 90%; 
    height: 100%; 
    object-fit: cover;
    display: block;
    padding: 20px;
    border-radius: 8px; 
  }
  
  .book-card:hover {
    transform: scale(1.05);
  }
  
  .view-more-button {
    margin-top: 100px;
  }
  